.atm-container {
  margin: 20px auto;
  width: 400px;

  .atm-heading {
    background-color: #226EAA;
    border-radius: 10px;
    width: 400px;
  }

  .atm-sign {
    background-image: url('images/atm_sign.png');
    background-position: 50% center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 142px;
    width: 100%;

    .atm-graffiti {
      background-image: url('images/graffiti.png');
      background-position: 94% 33%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
  }

  .atm-body {
    background-color: #F1F0E7;
    border-top: 6px solid #BEBEBE;
    margin: 0 auto;
    height: 345px;
    width: 356px;

    .atm-cards {
      background-position: top center;
      background-repeat: no-repeat;
      margin: 0 auto;
      height: 20px;
      width: 240px;

      &-mask {
        display: flex;
        flex-flow: row nowrap;
        margin: 10px auto 0 auto;
        height: 20px;
        width: 240px;

        .pre-mask {
          background-image: url('images/creditcard_sprite.png');
          background-position: 2px 0px;
          background-repeat: no-repeat;
          filter: grayscale(100%);
          width: 0px;
        }
        .mask {
          background-image: url('images/creditcard_sprite.png');
          background-position: 2px 0px;
          background-repeat: no-repeat;
          width: 240px;
        }
        .post-mask {
          background-image: url('images/creditcard_sprite.png');
          background-position: 2px 0px;
          background-repeat: no-repeat;
          filter: grayscale(100%);
          width: 0px;
        }

        &.active-1 {
          .pre-mask {
            width: 0;
          }
          .mask {
            background-position: 2px 0px;
            width: 40px;
          }
          .post-mask {
            background-position: -38px 0px;
            width: 200px;
          }
        }

        &.active-2 {
          .pre-mask {
            background-position: 2px 0px;
            width: 40px;
          }
          .mask {
            background-position: -38px 0px;
            width: 40px;
          }
          .post-mask {
            background-position: -78px 0px;
            width: 160px;
          }
        }

        &.active-3 {
          .pre-mask {
            background-position: 2px 0px;
            width: 80px;
          }
          .mask {
            background-position: -78px 0px;
            width: 45px;
          }
          .post-mask {
            background-position: -123px 0px;
            width: 115px;
          }
        }

        &.active-4 {
          .pre-mask {
            background-position: 2px 0px;
            width: 125px;
          }
          .mask {
            background-position: -123px 0px;
            width: 40px;
          }
          .post-mask {
            background-position: -163px 0px;
            width: 75px;
          }
        }

        &.active-5 {
          .pre-mask {
            background-position: 2px 0px;
            width: 165px;
          }
          .mask {
            background-position: -163px 0px;
            width: 40px;
          }
          .post-mask {
            background-position: -203px 0px;
            width: 35px;
          }
        }

        &.active-6 {
          .pre-mask {
            background-position: 2px 0px;
            width: 205px;
          }
          .mask {
            background-position: -199px 0px;
            width: 40px;
          }
          .post-mask {
            background-position: -243px 0px;
            width: 0;
          }
        }
      }
    }

    .atm-panel {
      display: flex;
      flex-flow: row;
      height: 190px;

      .atm-left-buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 50px;

        .atm-button {
          margin: 10px 0 0 auto;
        }
      }

      .atm-left-outset-bars {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 10px;
      }

      .atm-screen {
        background-color: #82B4D2;
        border: 4px solid #E1E1D6;
        color: #FFFFFF;
        display: flex;
        flex-flow: column nowrap;
        font-family: 'Arial';
        font-size: 16px;
        font-weight: 600;
        margin: 6px auto 0 auto;
        padding: 10px 0 0 0;
        height: 187px;
        width: 237px;

        &-info {
          text-align: center;
          height: 60px;
          width: 200px;
          margin: 0 auto;
        }

        &-options {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          height: 120px;
          width: 100%;

          .atm-inset-bars {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            height: 120px;
            width: 10px;

            .atm-inset-bar {
              background-color: #FFFFFF;
              margin: 10px auto 18px auto;
              height: 2px;
              width: 10px;
            }
          }

          &-left {
            text-align: left;
          }

          &-right {
            text-align: right;
          }

          .atm-screen-option {
            font-size: 14px;
            position: relative;
            top: 3px;
            height: 30px;
            width: 100px;
          }
        }
      }

      .atm-right-buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 50px;

        .atm-button {
          margin: 10px auto 0 0;
        }
      }

      .atm-right-outset-bars {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 10px;
      }

      .atm-button {
        background-color: #C1C1C1;
        border-bottom: 2px solid #9B9B9B;
        border-radius: 3px;
        height: 18px;
        width: 32px;

        &:hover {
          cursor: pointer;
        }

        &:active {
          background-color: #9B9B9B;
          border-bottom: 2px solid #C1C1C1;
        }
      }

      .atm-outset-bar {
        background-color: #9B9B9B;
        margin: 20px auto 7px auto;
        height: 3px;
        width: 10px;
      }
    }

    .atm-trademark {
      background-image: url('images/spanning_systems.png');
      background-position: bottom right;
      background-repeat: no-repeat;
      margin: 0 auto;
      position: relative;
      top: 26px;
      height: 6px;
      width: 237px;
    }

    .atm-graffiti-bottom {
      background-image: url('images/sticker_graf.png');
      background-position: bottom left;
      background-repeat: no-repeat;
      margin: 0 auto;
      position: relative;
      height: 112px;
      width: 400px;
      left: 10px;
      top: 0px;
    }
  }
}